<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7c1beae4-8b23-419a-bfea-f0034991fe66/resourceGroups/InSeasonApp/providers/Microsoft.Web/sites/InSeasonAppApi</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://inseasonappapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>inseasonappapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InSeasonAppApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$InSeasonAppApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>